.ui
{
margin-left: 30%;
border: 1px solid red;
width: 70%;
height: 100%;
text-align: center;
position: absolute;
}
form{
display: flex;
flex-direction: column;
}
.editer
{
width: 30%;
position: relative;
border: 1px solid rebeccapurple;
}